:root {
    --primary: #1565c0;
}

html, body {
    height: 100%;
    font-family: var(--main-font) !important;
    background-color:  var(--background) !important;
}

body {
    padding-top: 50px;
    display: flex;
    text-align: center;
    flex-direction: column;
    line-height: 1.4em !important;
    font-size: 12pt !important;
    overflow: hidden;
}

.main-content {
    overflow: auto;
    height: 100%;
}

main {
    margin: auto;
    padding: 25px;
    flex: 1 0 auto;
    max-width: 750px;
}

main img {
    border: solid 1px #eeeeee;
    padding: 8px;
}

.highlight > pre {
    border-radius: 0;
    border: solid 1px #eeeeee;
}

/*footer*/

.copyright {
    margin: 15px 0;
    font-size: 80%;
}

/*home page*/

.intro {
    position: relative;
    height: 100%;
}

.intro-content {
    transform: translateY(22vh);
    position: relative;
}

.intro-content > h1 {
    color: #212121;
    font-size: 12vh;
}

.intro-content > h2 {
    color: #757575;
    font-size: 3vmin;
}

.intro-content > .profile {
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
}

/* content */

main > h1 {
    font-size: 2rem !important;
}

/*apply accent colour to links*/

a:link, a:visited {
    color: var(--primary);
}

a.icon:hover {
    text-decoration: none;
}

a:hover {
    color: var(--primary) !important;
}

/*paginator at bottom of list view*/

.pages {
    padding: 15px 0;
}

.pages-icon {
    padding: 0 15px;
}

/*list item for posts and projects*/

.item {
    padding: 10px 0;
}

.item > .title {
    margin-bottom: 1rem;
}

.item > .title a {
    font-size: 1.2em;
    color: var(--primary);
}

.item > .description {
    font-size: 0.9em;
    font-family: var(--article-font);
}

.item > .description > .published {
    font-size: 80%; 
    font-weight: bold; 
    color: #000;
    white-space: nowrap;
}

.item-tag {
    font-size: 80% !important;
    background-color: var(--accent);
}

/*navigation bar icons*/



.navbar-icon {
    font-size: 100%;
    display: inline-block !important;
}

.navbar-icon a:hover {
    color: var(--primary) !important;
}

.navbar.navbar-default .navbar-nav > li > a {
    font-size: 1em;
    cursor: pointer;
}

.navbar.navbar-default {
    background-color: #ffffff;
    border-bottom: 0.01em solid #ebebeb;
}

/*coloured borders at top and bottom of the page*/

.navbar.navbar-default {
    border-top: var(--border-width) solid var(--accent);
}

footer {
    border-bottom: var(--border-width) solid var(--accent);
}

img {
    max-width: 100%;
}


/* Additional item styling */

.list-item-title {
    padding-bottom: 15px !important;
}

.list-item-title a {
    color: #004a55 !important;
    font-size: 3.4rem !important;
}

.item-info {
    text-align: left !important;
    color: #004a55 !important;
    font-size: 1.4rem !important;
}

.item-date {
    font-size: 1.4rem !important;
}

/* Article */

article {
    text-align: justify;
}

article header {
    text-align: center;
    margin-bottom: 3rem;
    margin-top: 1rem;
}

article header h1 {
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-family: var(--main-font);
    font-size: 2.1em;
}

article header .published {
    font-size: 1.3rem;
}

article header .description {
    font-family: var(--article-font);
    font-size: 1em;
    margin-bottom: 1.2rem;
}

article header .tags {
    margin-bottom: 0.8rem;
}

article header .reading-info {
    color: var(--primary);
    font-size: 1.4rem;
}

article p {
    font-family: var(--article-font);
    line-height: 1.5em;
}

article > h1 {
    font-size: 2em;
    padding-bottom: 2.4rem;
}

article > h2 {
    font-size: 1.6em;
    padding-bottom: 0.8rem;
    padding-top: 2rem;
}

article h3 {
    font-size: 1.2em;
    padding-bottom: 1rem;
    padding-top: 1.5rem;
    font-weight: bold;
}

article h4 {
    font-size: 1.8rem;
    font-weight: bold;
}

article h5 {
    font-size: 1.4rem;
    text-decoration: underline;
}