{{ partial "header" . }}

<main>

    {{ partial "_header-links" . }}

    <article>
        <header>
            <div class="published">{{ dateFormat .Site.Params.dateformat .Date }}</div>
            <h1><a href="{{ .Scratch.Get "link" }}">{{ .Title }}</a></h1>
            <div class="description">{{ .Description }}</div>
            <nav class="tags">
                {{ range .Params.tags }}
                <a href="{{ $.Site.BaseURL }}tags/{{ . | urlize }}"><kbd class="item-tag">{{ . }}</kbd></a>
                {{ end }}
            </nav>
            <div class="reading-info">{{ .ReadingTime }} min read &middot; {{ .WordCount }} words</div>
        </header>
        {{ .Content }}
    </article>

    <!-- related posts with the same tags -->
    {{ $related := first 3 (where (where (where .Site.Pages.ByDate.Reverse ".Type" "==" "post") ".Params.tags" "intersect" .Params.tags) "Permalink" "!=" .Permalink) }}

    {{ if $related }}

        <h4 class="page-header">Related</h4>

        {{ range $related }} {{ partial "list-item" . }} {{ end }}

    {{ end }}

    {{ if and .Site.DisqusShortname (not .Params.disableComments) }}

        <h4 class="page-header">Comments</h4>

        {{ template "_internal/disqus.html" . }}

    {{ end }}

</main>

{{ partial "footer.html" . }}
