<div class="item item-post">

    {{ partial "_header-links" . }}

    <div class="title">
        <a href="{{ .Scratch.Get "link" }}">{{ .Title }}</a>
    </div>
    
    <div class="description">
        {{ .Description }}
        <span class="published">{{ dateFormat .Site.Params.dateformat .Date }}</span>
    </div>
   
    <!--<div class="item-date">{{ dateFormat "January 2, 2006" .Date }}</div>-->
    <nav class="tags">
        {{ range .Params.tags }}
        <a href="{{ $.Site.BaseURL }}tags/{{ . | urlize }}"><kbd class="item-tag">{{ . }}</kbd></a>
        {{ end }}
    </nav>
</div>
