<div class="item">
    {{ partial "_header-links" . }}
    <div class="item-date">{{ dateFormat "January 2, 2006" .Date }}</div>
    <h4 class="list-item-title"><a href="{{ .Scratch.Get "link" }}">{{ .Title }}</a></h4>
    <h5>{{ $.Scratch.Get "subtitle" }}</h5>
    {{ range .Params.tags }}
    <a href="{{ $.Site.BaseURL }}tags/{{ . | urlize }}"><kbd class="item-tag">{{ . }}</kbd></a>
    {{ end }}
</div>

<div class="item-info">{{ .ReadingTime }} min read &middot; {{ .WordCount }} words</div>
    